@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  font-family: 'Manrope', sans-serif;
}


.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.btn-gradient {
  padding: 16px 16px; 
  background: linear-gradient(to right, #4F39F6 0%, #9514FA 100%);
  border-radius: 9999px;
  color: white;
  font-weight: bold;
}